.header
{
  display: flex;
  justify-content: space-between;
  height: 90px;
  padding: 0px 10px 0 50px;
  border-bottom: 2px solid grey;
}


.logo > img{
  height:60px;
  transform: rotate(45deg);
  border-radius:18px;
}

.logo{
  align-self: center;
  display: flex;
  align-items: center;
  span{
    padding: 15px;
    font-size: large;
  }
}

.nav > ul > li > div > img
{
  height:60px;
  border-radius: 50px;
}
.nav > ul {
  display: flex;
  align-items: center;
  height: 100%;
  li{
    padding:10px;
  }
}

.second-li
{
  border-right: 2px solid grey;
  border-left: 2px solid grey;
}
.notification
{
  img{
    height: 25px !important;
  }
}
.li-div{
  display: flex;
  align-items: center;
  a{
    padding: 0 20px 0 0;
  }
}

.header-arrow {
  background: grey;
  border-radius: 50px;
  height: 30px;
  display: flex;
  width: 30px;
  justify-content: center;
  align-items: center;
  img{
    height: 20px !important;
  }
}

.logout-div{
  display: none;
}
.header-arrow:hover
{
  cursor: pointer;
  .logout-div{
    z-index: 1;
    background: aquamarine;
    border-radius: 12px;
    color: black;
    position: absolute;
    width: 100px;
    height: 100px;
    top: 60px;
    right: 10px;
    display: block;
    .logout-logo{
      display: flex;
      padding: 10px;
      justify-content: center;
    }
  }
}
.logout-logo:hover{
  background-color: #fff;
  border-radius: 12px;

}
