.main-container
{
  width: 100%;
  // position: fixed;
  img{
    width: 100%;
  }
}
.login-container
{
  position: absolute;
  top: 50px;
  background: #fff;
  right: 10%;
  border-radius:10px;
  width: 400px;
}
.form-tab{
  display: flex;
  width: 100%;
  justify-content: space-around;
  font-size: large;
  line-height: 30px;
  margin: 40px 0 0 0;
  .active{
    border-bottom: 2px solid grey;
  }
}

.active{
  border-bottom: 2px solid grey;
}

.login-form{
  margin-top: 50px;
  padding: 30px;
}

.fp{
  position: relative;
  left: 65%;
  color: grey;
}
.login-btn{
  margin-top: 25px;
  display: flex;
  justify-content:center;
  button
  {
    height: 50px;
    width: 100px;
    background: #6c6e6f;
    border: none;
    border-radius: 10px;
    color: white;
    font-weight: 600;
  }
}

.below-link{
  font-size:smaller;
  padding: 3px;
  color: grey;
  display: flex;
  justify-content: center;
}
