<div class="main-container">
  <img src="../../assets/Banner.png">
  <div class="login-container">
    <div class="form-tab">
      <div [ngClass]="{'active':loginForm }" (click)="loginForm=true;registerForm=false;">Log In</div>
      <div [ngClass]="{'active':registerForm }" (click)="loginForm=false;registerForm=true;">Register</div>
    </div>
    <div class="form-div">
      <div *ngIf="loginForm" class="login-form">
        <form [formGroup]="userLoginDetails" (ngSubmit)="userLoginDetails.valid ? userLogin() : '' ">
          <div class="form-group">
            <mat-form-field appearance="outline" style="width:100%">
              <mat-label>Email / Mobile Number</mat-label>
              <input matInput placeholder="" formControlName="email">
              <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
              <!-- <mat-hint>Hint</mat-hint> -->
            </mat-form-field>
            <p style="color: red;" *ngIf="userLoginDetails.get('email').hasError('required') && userLoginDetails.get('email').touched">
              Email is required!
            </p>
            <p style="color: red;" *ngIf="(userLoginDetails.get('email').hasError('email'))">
              Wrong Email Pattern
            </p>
          </div>
          <div class="form-group">
            <!-- <input type="email" placeholder="Email" formControlName="email" /> -->
            <mat-form-field appearance="outline" style="width:100%">
              <mat-label>Password</mat-label>
              <input matInput placeholder="Password" formControlName="password">
            </mat-form-field>
            <p style="color: red;" *ngIf="userLoginDetails.get('password').hasError('required') && userLoginDetails.get('password').touched">
              Password is required!
            </p>
            <p style="color: red;" *ngIf="(userLoginDetails.get('password').hasError('minlength'))">
              Password must have at Least 5 Characters
            </p>
            <p style="color: red;" *ngIf="(userLoginDetails.get('password').hasError('maxlength'))">
                Password must have at Least 10 Characters
            </p>
          </div>
          <span class="fp">Forget password</span>
          <div class="login-btn">
            <button type="submit">LOGIN</button>
            <!-- (click)="userLogin()" -->
          </div>
          <div class="below-link">
            <span>Not a member yet?</span> Register
          </div>
        </form>
      </div>
      <div *ngIf="registerForm" class="login-form">
        <form [formGroup]="registerUserDetail" (ngSubmit)="registerUserDetail.valid ? userRegister() : '' ">
          <div class="form-group">
            <mat-form-field appearance="outline" style="width:100%">
              <mat-label>Full Name</mat-label>
              <input matInput placeholder="" formControlName="name">
            </mat-form-field>
            <p style="color: red;" *ngIf="(registerUserDetail.get('name').hasError('minlength'))">
              Username must have at Least 5 Characters
            </p>
            <p style="color: red;" *ngIf="registerUserDetail.get('name').hasError('required') && registerUserDetail.get('name').touched">
                Name is required!
            </p>
            <p style="color: red;" *ngIf="(registerUserDetail.get('name').hasError('maxlength'))">
                Username must have at Most 15 Characters
            </p>
          </div>
          <div class="form-group">
            <mat-form-field appearance="outline" style="width:100%">
              <mat-label>Email</mat-label>
              <input matInput placeholder="" type="email" formControlName="email">
            </mat-form-field>
            <p style="color: red;" *ngIf="registerUserDetail.get('email').hasError('required') && registerUserDetail.get('email').touched">
              Email is required!
            </p>
            <p style="color: red;" *ngIf="(registerUserDetail.get('email').hasError('email'))">
              Wrong Email Pattern
            </p>
          </div>
          <div class="form-group">
            <mat-form-field appearance="outline" style="width:100%">
              <mat-label>Mobile Number</mat-label>
              <input matInput placeholder="" type="number" formControlName="number">
            </mat-form-field>
            <p style="color: red;" *ngIf="registerUserDetail.get('number').hasError('required') && registerUserDetail.get('number').touched">
              number is required!
            </p>
            <p style="color: red;" *ngIf="(registerUserDetail.get('number').hasError('number'))">
              Number is in 10 Digits
            </p>
          </div>
          <div class="form-group">
            <mat-form-field appearance="outline" style="width:100%">
              <mat-label>Gender</mat-label>
              <mat-select formControlName="gender">
                <mat-option value="Male">Male</mat-option>
                <mat-option value="Female">Female</mat-option>
                <mat-option value="Other">Other</mat-option>
              </mat-select>
            </mat-form-field>
            <p style="color: red;" *ngIf="registerUserDetail.get('gender').hasError('required') && registerUserDetail.get('gender').touched">
              gender is required!
            </p>
          </div>
          <div class="form-group">
            <mat-form-field appearance="outline" style="width:100%">
              <mat-label>Password</mat-label>
              <input matInput placeholder="Password" formControlName="password">
            </mat-form-field>
            <p style="color: red;" *ngIf="registerUserDetail.get('password').hasError('required') && registerUserDetail.get('password').touched">
              Password is required!
            </p>
            <p style="color: red;" *ngIf="(registerUserDetail.get('password').hasError('minlength'))">
              Password Must have at Least 5 Characters
            </p>
            <p style="color: red;" *ngIf="(registerUserDetail.get('password').hasError('maxlength'))">
                Password Must have at Most 10 Characters
            </p>
          </div>
          <div class="form-group">
            <mat-form-field appearance="outline" style="width:100%">
              <mat-label>Password</mat-label>
              <input matInput placeholder="Password" formControlName="confirmPassword">
            </mat-form-field>
            <p style="color: red;" *ngIf="registerUserDetail.get('confirmPassword').hasError('required') && registerUserDetail.get('confirmPassword').touched">
              confirmPassword is required!
            </p>
            <p style="color: red;" *ngIf="(registerUserDetail.get('confirmPassword').hasError('minlength'))">
              confirmPassword Must have at Least 5 Characters
            </p>
            <p style="color: red;" *ngIf="(registerUserDetail.get('confirmPassword').hasError('maxlength'))">
                confirmPassword Must have at Most 10 Characters
            </p>

          </div>
          <div class="login-btn">
            <button type="submit">REGISTER</button>
            <!-- (click)="userRegister()" -->
          </div>
          <div class="below-link">
            <span>Not a member yet?</span> Register
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
