<div class="tab-div">
  <ul>
    <!-- <li><a routerLink="/products/shirt" routerLinkActive="active">Shirts</a></li> -->
    <!-- or -->
    <!-- <li><a [routerLink]="['/products/shirt']" routerLinkActive="active">Shirts</a></li> -->
    <li>
      <a routerLink="/home" routerLinkActive="active">
        <div>
          <img src="../../assets/dashboard (1).svg">
        </div>
        <div>
          Dashboard
        </div>
      </a>
    </li>
    <li>
      <a routerLink="/transaction-history" routerLinkActive="active">
        <div>
          <img src="../../assets/exchange.svg">
        </div>
        <div>
          Transaction History
        </div>
      </a>
    </li>
    <li>
      <a routerLink="/balance-sheet" routerLinkActive="active">
        <div>
          <img src="../../assets/Sidebar/file (1).svg">
        </div>
        <div>
          Balance Sheet
        </div>
      </a>
    </li>
    <li>
      <a routerLink="/cashback-earned" routerLinkActive="active">
        <div>
          <img src="../../assets/Mask Group 48.svg">
        </div>
        <div>
          Cashback Earned
        </div>
      </a>
    </li>
    <li>
      <a routerLink="/profile" routerLinkActive="active">
        <div>
          <img src="../../assets/Sidebar/man-user.svg">
        </div>
        <div>
          My Profile
        </div>
      </a>
    </li>
    <li>
      <a routerLink="/refer-earned" routerLinkActive="active">
        <div>
          <img src="../../assets/Sidebar/share.svg">
        </div>
        <div>
          Refer & Earned
        </div>
      </a>
    </li>
    <li>
      <a routerLink="/report" routerLinkActive="active">
        <div>
          <img src="../../assets/warning.svg">
        </div>
        <div>
          Report
        </div>
      </a>
    </li>
  </ul>
</div>
