<div class="parent-div">

  <div class="left-navigation-container">
    <app-left-navigation></app-left-navigation>
  </div>

  <div class="home-container row">
    <div class="big-div col-9 bg">

      <div class="pay-recharge-container">
        <div class="img-div active-img">
          <img src="../../assets/Mask Group 23.svg">
        </div>
        <div class="btn-wrap">
          <button class="active-btn">Pay</button>
          <button class="unactive-btn">Recharge</button>
        </div>
        <div class="img-div unactive-img">
          <img src="../../assets/card-payment.svg">
        </div>
      </div>

      <div class="search-container">
        <div class="searchbar">
          <div class="searchdiv">
            <input placeholder="Search Vendors" type="text">
            <img src="../../assets/searching-magnifying-glass.svg">
            <!-- <i class="fas fa-search"></i> -->
          </div>
        </div>
      </div>

      <div class="vendors-container">
        <div class="p-tag">
          <p>Select Vendor Category</p>
        </div>
        <div class="vendors-array-container">
          <div class="vendors-array" *ngFor="let data of vendorsArray">
            <div class="img-tag">
              <!-- <img src="../../assets/add-user.svg"> -->
              <!-- <img [src]="img_path+data.src"> -->
              <img [src]="img_path+data.src">
            </div>
            <p>{{data.name}}</p>
          </div>
        </div>
      </div>

      <div class="star-container">
        <div class="p-tag">
          <p>Pay.Star Vendors Near Me</p>
        </div>
        <div class="star-array-container">
          <div class="design-container row">
            <div class="img-div col-3">
              <img src="../../assets/camera.svg">
            </div>
            <div class="col-6">
              <div class="middle-content">
                <h3>Sky Sports Shop</h3>
              </div>
              <div class="fav-icon-display">
                <div class="fav-icon" *ngFor="let d of star_length">
                  <img [src]="img_path+d.src">
                </div>
              </div>
              <div class="below-text">
                <p>10% Cashback</p>
                <p>0.5 kms away</p>
              </div>
            </div>
            <div class="last-div col-3">
              hi
            </div>
          </div>
          <div class="design-container row">
            <div class="img-div col-3">
              <img src="../../assets/camera.svg">
            </div>
            <div class="col-6">
              <div class="middle-content">
                <h3>Sky Sports Shop</h3>
              </div>
              <div class="fav-icon-display">
                <div class="fav-icon" *ngFor="let d of star_length">
                  <img [src]="img_path+d.src">
                </div>
              </div>
              <div class="below-text">
                <p>10% Cashback</p>
                <p>0.5 kms away</p>
              </div>
            </div>
            <div class="last-div col-3">
              hi
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="small-div col-3">
      <div class="slider-container">
        <div class="img-slider">
          <!-- <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">
            <div *ngFor="let i of images" class="slide">
              <img src="{{img_path + i.img }}" width="100%">
            </div>
          </ngx-slick-carousel> -->
          <mat-carousel
          timings="250ms ease-in"
            [autoplay]="true"
            color="accent"
            [interval]="1500"
            maxWidth="auto"
            slideHeight="100%"
            [proportion]="25"
            [maintainAspectRatio]="false"
            [loop]="true"
            [hideArrows]="true"
            [hideIndicators]="false"
            [useKeyboard]="false"
            [useMouseWheel]="true"
            orientation="ltr"
          >
            <mat-carousel-slide
              #matCarouselSlide
              *ngFor="let slide of slides; let i = index"
              [image]="img_path + slide.image"
              overlayColor="#00000040"
              [hideOverlay]="true"
            ></mat-carousel-slide>
          </mat-carousel>
        </div>
      </div>
      <div class="card-container">
        <div class="card-wallet">
          <button class="btn-wallet">Wallet</button>
          <div class="img-div">
            <img src="../../assets/wallet.svg">
          </div>
        </div>
        <div class="cardImg">
          <img src="../../assets/Card BG.svg">
          <div class="card-below">Apply For Physical Card</div>
        </div>
      </div>
      <div></div>
    </div>
  </div>

</div>
